.TwitterCard-continer {
    --background-color : #15181c;
    --background-color-hover: #1d1f23;
    --title-color: white;
    --text-color: gray;

    display: flex;
    justify-content: space-between;
    align-items: strech;

    width: 348px;
    height: 65px;

    padding: 12px 16px;

    background-color: var(--background-color);

    &:hover {
        background-color: var(--background-color-hover);
        cursor: pointer;
    }

    .TwitterCard_avatar {

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 40px;
            height: 40px;

            border-radius: 100%;
        }

    }

    .TwitterCard_info {
        display: flex;
        flex-flow: wrap;
        align-content: space-between;

        width:inherit;

        margin: 0 12px;

        .TwitterCard_info_name,
        .TwitterCard_info_user {
            width: 100%;
            font-size: 16px;
        }

        .TwitterCard_info_name{
            color: var(--title-color);
        }

        .TwitterCard_info_user{
            color: var(--text-color);
        }
    }

    .TwitterCard_button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}