.TwitterButton {


    button {
        width: 78px;
        height: 32px;

        padding: 0 16px;

        border-start-start-radius: 9999px;
        border-start-end-radius: 9999px;
        border-end-start-radius: 9999px;
        border-end-end-radius: 9999px;

        font-weight: bolder;
        font-size: 14px;
        
        &[data-follow="true"] {
            --backgroun-color: #16181c;
            --background-color-hover: #d7dbdc;
            --text-color: black;

            border: 1px solid white;
            
            color: white;

            background-color: var(--backgroun-color);

            &:hover {
                --background-color-hover: #342225;
                --text-color: black;
                
                background-color: var(--background-color-hover);
            
                cursor: inherit;

                color: red;

                border: 1px solid red;
            }
        }

        &[data-follow="false"] {
            --backgroun-color: white;
            --background-color-hover: #d7dbdc;
            --text-color: black;

            border-color: transparent;

            color: var(--text-color);

            background-color: var(--backgroun-color);

            &:hover {
                background-color: var(--background-color-hover);
            
                cursor: inherit;
            }
        }
    }

}